<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisDemo.mapper.CatMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisDemo.entity.Cat">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="findById" resultType="com.example.mybatisDemo.entity.Cat">
        select * from cat where id = #{id}
    </select>

</mapper>